/* NAVBAR BASE */
.custom-elevation {
  background: #ff0000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  padding: 0;                 /* remove altura extra */
}

/* CONTAINER DA NAVBAR */
.navbar .container {
  height: 70px;               /* ALTURA TOTAL DA NAVBAR */
  display: flex;
  align-items: center;        /* centraliza verticalmente */
}

/* LOGO */
.imgLogo {
  height: 55px;   /* menor que a navbar pra sobrar respiro */
  width: auto;
}

/* LINKS */
.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 600;
  margin-left: 30px;
  font-size: 17px;
  letter-spacing: 0.3px;
}

/* LINK ATIVO */
.navbar-nav .nav-link.active-link {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

/* HOVER */
.navbar-nav .nav-link:hover {
  opacity: 0.8;
}

/* ===== NAVBAR AO ROLAR ===== */
.navbar-scroll.scrolled {
  background: #d80000;
  padding: 5px 0;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  height: 60px;
}

.navbar-scroll.scrolled .imgLogo {
  height: 45px;
}
