.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primeira-color);
    font-weight: bold
}

.custom-elevation {
  background: #3F5EFB;
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgb(255, 35, 79) 100%); /* opcional, já que você removeu o bg-light */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* efeito de elevation */
}