<nav class="navbar navbar-expand-lg navbar-light custom-elevation fixed-top navbar-scroll">
  <div class="container">

    <a class="navbar-brand" routerLink="">
      <img src="assets/img/logoGrafica.jpg" class="imgLogo" alt="Logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="loja" routerLinkActive="active-link">Loja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Nossa História</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
