.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px; /* distância do ___ */
  text-decoration-thickness: 3px; /* espessura do ___ */
}

.custom-elevation {
  background: #FF0000;
  /* background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgb(255, 35, 79) 100%); opcional, já que você removeu o bg-light */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* efeito de elevation */
}

.imgLogo {
  max-height: 70px;
  width: 150px;
}

.navbar-brand {
  padding: 0;
  margin-left: 200px; /* ajuste fino */
}

