.footer {
  background: #3F5EFB;
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgb(255, 35, 79) 100%);
  color: #fff;
  padding: 40px 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.subtitulo {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  
}

.secao {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.icon {
  color: #fff;
  margin-right: 8px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.p {
  font-size: 16px;
  margin: 5px 0;
}

.btn-whatsapp {
  display: inline-block;
  background-color: #25d366;
  color: #000;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-whatsapp:hover {
  background-color: #1ebe57;
  color: #fff;
}

.telephone-link,
.whatsapp-link,
.email-link,
.instagram-link,
.address-link {
  text-decoration: none;
  color: inherit;
  display: block;       /* força ficar em coluna */
  transition: all 0.3s ease;
  margin-bottom: 8px;   /* espaçamento entre os itens */
}

/* cor no hover (mesma pra todos por enquanto) */
.telephone-link:hover,
.whatsapp-link:hover,
.email-link:hover,
.instagram-link:hover,
.address-link:hover {
  color: #3F5EFB; 
}

