<div class="footer container-fluid py-5">
  <div class="row text-center text-lg-start">
    <!-- Título -->
    <div class="col-12 mb-4">
      <h1 class="titulo">Entre em Contato</h1>
      <p class="subtitulo">
  A Gráfica Express é mais que uma gráfica, é a sua parceira de negocios. Venha nos conhecer e veja<br>
  a qualidade de quem Faz a impressao do inicio ao fim.
</p>
    </div>
  </div>

  <div class="row">
    <!-- Coluna Esquerda: Contato -->
    <div class="col-lg-6 col-md-12 mb-4">
        <h4 class="secao">Fale Conosco</h4>
            
        <a href="tel:+559132324428" class="telephone-link">
          <p><i class="bi bi-telephone-fill icon"></i> (91) 3232-4428</p>
        </a>
    
        <a href="https://wa.me/5591985601849" target="_blank" class="whatsapp-link">
          <p><i class="bi bi-whatsapp icon"></i> (91) 98560-1849</p>
        </a>
    
        <a href="mailto:comercial@graficaexpress.omline" class="email-link">
          <p><i class="bi bi-envelope-fill icon"></i> comercial@graficaexpress.omline</p>
        </a>
    
        <a href="https://www.instagram.com/grafic.express" target="_blank" class="instagram-link">
         <p><i class="bi bi-instagram icon"></i> @grafic.express</p>
        </a>
    
        <a href="https://www.google.com/maps?q=Zoé+Gueiros+-+R.+Beta,+78+-+Tapanã,+Belém+-+PA,+66833-240" 
           target="_blank" class="address-link">
          <p><i class="bi bi-geo-alt-fill icon"></i> Zoé Gueiros - R. Beta, 78 - Tapanã, Belém - PA</p> 
        </a>
    </div>

    <!-- Coluna Direita: Horário -->
    <div class="col-lg-6 col-md-12 mb-4">
      <h4 class="secao">Horário de Funcionamento</h4>
      <p><i class="bi bi-clock-fill icon"></i> De segunda a sexta-feira, das 9h às 18h</p>
      <p><i class="bi bi-clock icon"></i> Aos sábados, das 9h às 12h</p>
    </div>
  </div>

  <!-- Botão WhatsApp -->
  <div class="row text-center mt-4">
    <div class="col-12">
      <a href="https://wa.me/559185601849" target="_blank" class="btn-whatsapp">
        <i class="bi bi-whatsapp"></i> Fale conosco!
      </a>
    </div>
  </div>
</div>
