.Box {
    background-color: rgb(66,60,60);
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Box h1 {
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}

.Box p {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.productbox {
    padding: 10px 5px;
    cursor: pointer;
}

.productbox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.productbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.gradient-title {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(
    270deg,
    #ff6a00,
    #ffcc00,
    #ff0066,
    #6a00ff
  );
  background-size: 600% 600%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 6s ease infinite;
}

/* Animação do gradiente */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}