<div class="container mt-5 mb-4">
    <h1 class="text-center">Aqui Você Obtem O Melhor De um Gráfica</h1>


    <!-- essa parte de selecione será apagada -->
    <div class="row">
        <div class="col-lg-4">
            <div class="Box">
                <h1>Panfletos</h1>
                <p>Selecione</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Box">
                <h1>Pasta com bolsa</h1>
                <p>Selecione</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Box">
                <h1>3</h1>
                <p>Selecione</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let pd of productData">
      <div class="productbox" (click)="goToProduct(pd.id)">
        <img [src]="pd.img" class="img-fluid" />
        <h1>{{ pd.name }}</h1>
        <p>{{ pd.description }}</p>
      </div>
    </div>
  </div>
</div>
