.Box{
    background-color: rgb(66,60,60);
    padding: 20px 20px;
    border-radius: 5px;
}

.Box h1{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}

.Box p{
    font-size: 20px;
    font-style: italic;
    color: white;
}
