<!-- HERO / BANNER COM CARROUSEL -->
<section class="hero-carousel">
  <div
    class="carousel-bg"
    *ngFor="let img of images; let i = index"
    [ngClass]="{ active: i === currentIndex }"
    [style.backgroundImage]="'url(' + img + ')'"
  ></div>

  <div class="overlay"></div>

  <div class="hero-content">
    <h1>
      <span class="highlight">Qualidade TOP.</span>
      Preço DIRETO.
      <span class="highlight">Entrega EXPRESS.</span>
    </h1>

    <p class="hero-subtitle">
      Chega de escolher entre qualidade, preço e prazo!
    </p>

    <p class="hero-text">
      Na <strong>Gráfica Express</strong>, você tem os três.
      Nossa estrutura própria garante o custo mais baixo e a velocidade
      que seu negócio precisa, sem abrir mão da alta qualidade de impressão.
      <br /><br />
      <strong>Simples assim:</strong> mais eficiência para você,
      menos complicação.
    </p>

    <div class="hero-buttons">
      <a
        href="https://wa.me/5591985601849"
        target="_blank"
        class="btn btn-whatsapp"
      >
        Faça o seu orçamento conosco
        <i class="bi bi-whatsapp"></i> 
      </a>

      <button class="btn btn-outline">
        Ligar
      </button>
    </div>
  </div>
</section>
<app-tecnologias-impressao></app-tecnologias-impressao>
<app-o-que-fazemos></app-o-que-fazemos>
<app-procurados></app-procurados>
<app-cta-orcamento></app-cta-orcamento>


